/TodoAppWasm/WebAPI/obj/
/TodoAppWasm/WebAPI/bin/
/TodoAppWasm/FileData/bin/
/TodoAppWasm/FileData/obj/
/TodoAppWasm/Domain/bin/
/TodoAppWasm/Domain/obj/
/TodoAppWasm/Application/bin/
/TodoAppWasm/Application/obj/
